<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bq.order" >
    <application>
        <activity android:name="com.bq.order.mvp.wallet.ui.MyWalletActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.bq.order.mvp.wallet.ui.BillDetailActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.bq.order.mvp.wallet.ui.RechargeDetailActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.bq.order.mvp.wallet.ui.TackCashActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.bq.order.mvp.wallet.ui.RechargeActivity"
            android:configChanges="orientation|screenSize"/>
    </application>
</manifest>
