<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bq.order" >
    <application>
        <activity android:name=".mvp.ui.ProductDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.OrderListActivity"/>
        <activity android:name=".mvp.ui.OrderCommitActivity"/>
        <activity android:name=".mvp.ui.OrderDetaiActivity"/>
        <activity android:name=".mvp.ui.ProductListActivity"/>
        <activity android:name=".mvp.ui.SchoolListActivity"/>
        <activity android:name=".mvp.ui.SchoolDetailActivity"/>
    </application>
</manifest>
