<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bq.login" >

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/login_templete"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".mvp.ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".mvp.ui.ForgetPwdActivity"/>

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <meta-data android:name="com.bq.login.AppApplicationConfig"
            android:value="test"
            />
    </application>
</manifest>
