<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bq.user_center" >
    <application>
        <activity android:name=".mvp.bankcard.ui.BankCardListActivity"
            android:label="login"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".mvp.address.ui.AddressManagerActivity"/>
        <activity android:name=".mvp.address.ui.AddressOptionActivity"/>
        <activity android:name=".mvp.address.ui.AddressSelectActivity"/>
        <activity android:name=".mvp.user.ui.UserinfoActivity"/>
    </application>
</manifest>
