<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bq.login" >

    <application>
        <activity android:name=".mvp.login.ui.LoginActivity"
            android:label="login"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".mvp.login.ui.RegisterPwdActivity"
            android:configChanges="orientation|screenSize"
            />
        <activity android:name=".mvp.login.ui.SettingPwdActivity"
            android:configChanges="orientation|screenSize"
            />

    </application>
</manifest>
